.c-search{
    margin: 20px 75px;
    width: 600px;
    height: 72px;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    .s-icon{
        width: 72px;
        height: 72px;
        line-height: 72px;
        text-align: center;
        border-right: 1px solid #f5f5f5;
        float: left;
        .icon{
            height: 56px;
            padding-top: 12px;
        }
    }
    .s-inp{
        float: left;
        width: 510px;
        height: 72px;
        padding-left: 18px;
    }
}
// 首页  标题栏
.c-book-title{
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid #f0f0f0;
    padding-left: 40px;
    border-left: 12px solid #ffab18;
    overflow: hidden;
    .title{
        float: left;
        font-size: 32px;
    }
    .label{
        display: inline-block;
        width: 52px;
        height: 32px;
        line-height: 32px;
        color: white;
        text-align: center;
        background: #53ac7d;
        font-size: 24px;
        margin-left: 16px;
    }
    .active{
        color:#528ae8;
    }
    .tab{
        float: right;
        font-size: 26px;
        margin-right: 20px;
        .tab-t{
            padding:20px 20px;
        }
    }
}

